<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mood Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Emotion_Report.css') }}">

</head>
<body>
<h1 class="containers">Emotion Report</h1>

    <div class="container">
    <a class="button" href="/deep-face2" target="_blank" onclick="showCode()" style="--color: #ff1867;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Generate Report
      </a>
    </div>
</body>
</html>