<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_admin.css') }}">
</head>
<body>

    <h2 style="text-align: center ">Don't forget to check your phone</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h4 style="text-align:center">{{thought}}</h4>
    <br><br>
    <h3 style="text-align: center">By : {{author}}</h3>



</body>
</html>