<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_admin.css') }}">
    <style>
        h2{
            width: 100%;
            height: 40px;
            color:white;
            background-color: #0B2447;
            border: none;
            margin: 0;
        }


    </style>

</head>
<body style="background-color: #27E1C1;">

    <h1 style="text-align: center">System Design</h1>
    <br><br>
    <h2 style="text-align: center">Algorithms & Setup</h2>
    <br><br>
    <div style="text-align:center">
        <button ><h2 ><strong >K - Neighbors Classifier </strong></h2></button>
        <br><br>
        <button><h2 ><strong>Deep Face Library</strong></h2></button>
        <br><br>
        <button><h2><strong>face_recognition_model.pkl</strong></h2></button>
        <br><br>
        <button><h2><strong>haarcascade_frontal_face_default.xml</strong></h2></button>
        <br><br>
    </div>


                            <!--    Another section -->
    <br>
    <h2 style="text-align: center ">Languages & Framework Used</h2>
    <br><br>
    <div style="text-align:center">
        <button ><h2  ><strong >Python</strong></h2></button>
        <br><br>
        <button ><h2  ><strong >HTML</strong></h2></button>
        <br><br>
        <button ><h2  ><strong >CSS</strong></h2></button>
        <br><br>
        <button ><h2  ><strong >JAVASCRIPT</strong></h2></button>
        <br><br>
        <button><h2 ><strong>Flask</strong></h2></button>
        <br><br>
    </div>

                            <!--    Another section -->
    <br>
    <h2 style="text-align: center">Libraries Used</h2>
    <br><br>
    <div style="text-align:center">
        <button ><h2 ><strong >os module</strong></h2></button>
        <br><br>
        <button><h2 ><strong>tkinter</strong></h2></button>
        <br><br>
        <button><h2 ><strong>datetime</strong></h2></button>
        <br><br>
        <button><h2 ><strong>collections</strong></h2></button>
        <br><br>
        <button><h2 ><strong>smtplib</strong></h2></button>
        <br><br>
        <button><h2 ><strong>csv</strong></h2></button>
        <br><br>
        <button><h2 ><strong>twilio</strong></h2></button>
        <br><br>
        <button><h2 ><strong>requests</strong></h2></button>
        <br><br>
    </div>

                                <!--    Another section -->
    <br>
    <h2 style="text-align: center">APIs Used</h2>
    <br><br>
    <div style="text-align:center">
        <button ><h2 ><strong >TWILIO</strong></h2></button>
        <br><br>
        <button ><h2 ><strong >api-ninjas</strong></h2></button>
        <br><br>
    </div>
<!--    <a href="https://github.com/serengil/deepface"><svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">-->

                                <!--    Another section -->
    <br>
    <h2 style="text-align: center">Project Link</h2>
    <br><br>
    <div style="text-align:center">
        <button ><h2 ><strong ><a href="https://github.com/nilesh-d-yadav/face-recog-fourth-prototype" style="color:white" target="_blank">GITHUB</a></strong></h2></button>
        <br><br>
    </div>

</body>
</html>