<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body bgcolor ="red">

<!----------------------------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------------------------>

<form align= "center"  action=" /form_login", method="post">
    <h2></h2>Username: <br>
    <input type="text" name="username"><br>
    Password: <br>
    <input name="password"><br><br>
    <input type ="submit" value="Login">

</form>
<h1> {{info}}</h1>  <!--whether answer is right or not -->

</body>
</html>